/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./loader.css');

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #434455;
  background-color: #fff;
  padding: 15px;
  text-align: center;
}

.form {
  display: flex;
  justify-content: center;
  gap: 8px;
  padding: 5px;
}

.form-input {
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  max-width: 272px;
  padding: 8px 16px;
  border: 1px solid #808080;
  border-radius: 4px;
  outline: none;
}

.form-input:hover {
  border-color: #000000;
}

.form-input:focus {
  border-color: #4e75ff;
}

.form-button {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: #fff;
  width: 100%;
  max-width: 90px;
  border: none;
  background-color: #4e75ff;
  border-radius: 8px;
}

.form-button:hover,
.form-button:focus {
  background-color: #6c8cff;
}

.gallery {
  margin: 0 auto;
  max-width: 1440px;
  padding: 24px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
  align-items: stretch;
}

.gallery-item {
  display: block;
  max-width: 360px;
  min-width: 300px;
  height: auto;
  width: calc((100% - 48px) / 3);
  border: 1px solid #808080;
}

.gallery-link {
  display: block;
}

.gallery-img {
  display: block;
  width: 100%;
  object-fit: cover;
  height: 240px; 
}

.descriptions {
  display: flex;
  justify-content: space-between;
  padding: 5px 20px;
  height: 58px;
}

.img-title {
  font-size: 14px;
  font-weight: 700;
  text-align: center;
}

.img-content {
  font-size: 14px;
  text-align: center;
}
